body {
  font-family: "Cardo", serif;
  font-size: 18px;
}

h1 {
  font-family: "Cardo", serif;
  text-align: center;
  margin-top: 1.5rem;
}

.destacados {
  width: 25vw;
  aspect-ratio: 1/1;
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
}
.destacados a {
  text-decoration: none;
  color: black;
}
.destacados a:hover img {
  transition: all 1.5s ease;
  transform: scale(1.2);
}
.destacados a h3 {
  font-family: "Cardo", serif;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.destacados img {
  width: 100%;
  height: auto;
}

.nav__principal {
  background-color: #8B583B;
}
.nav__principal img {
  width: 3rem;
  height: auto;
}
.nav__principal li a {
  color: #fff;
}
.nav__principal a:hover {
  fill: #000;
}
.nav__principal a svg {
  fill: #fff;
}
.nav__principal a svg:hover {
  fill: #000;
}
.nav__principal a img:hover {
  filter: invert(100%);
}

footer {
  background-color: #62371E;
  bottom: 0;
}
footer a {
  color: #fff;
  list-style: none;
  text-decoration: none;
  margin-bottom: 1rem;
}
footer a:hover {
  color: #000;
}
footer a:hover svg {
  fill: #000;
}
footer a img {
  width: 5rem;
}
footer a img:hover {
  filter: invert(100%);
}
footer a svg {
  width: 2rem;
  fill: #fff;
  margin-right: 0.5rem;
}
footer .redes svg {
  width: 3.5rem;
}
footer small {
  color: #fff;
  margin-bottom: 0.5rem;
}

#main__productos {
  margin-top: 4.5rem;
}
#main__productos img {
  width: 100%;
  aspect-ratio: 4/4;
  object-fit: cover;
  object-position: center;
}

button {
  background-color: #8B583B;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem;
}

.producto:hover {
  box-shadow: 0px 0px 26px 1px rgba(0, 0, 0, 0.75);
  padding: 0.5rem;
  transition: all 0.5s ease;
}
.producto img {
  aspect-ratio: 4/4;
}
.producto input {
  width: 4rem;
  height: auto;
  text-align: center;
  border: 1px 0;
  cursor: default;
}
.producto svg {
  width: 1.5rem;
  height: auto;
}
.producto .modificarCant {
  background-color: #8B583B;
  width: 1.5rem;
  text-align: center;
  color: white;
  cursor: pointer;
  padding-top: 0.2rem;
}
.producto #sumar {
  border-radius: 0 50% 50% 0;
}
.producto #restar {
  border-radius: 50% 0 0 50%;
}
.producto .btnComprar:hover, .producto .modificarCant:hover {
  background: #b09175;
}
.producto #eliminar {
  background-color: transparent;
  border: none;
}
.producto #eliminar svg {
  fill: rgb(182, 20, 20);
}

#main__login {
  margin-top: 4rem;
}
#main__login .loginImg {
  width: 50vw;
  margin: 0;
}
#main__login .loginImg img {
  width: 100%;
  height: auto;
}
#main__login form {
  margin: 2rem 0;
  width: 80vw;
  max-width: 300px;
}
#main__login form fieldset {
  width: 110%;
  margin: 1.2rem 0;
}
#main__login form fieldset input {
  border: none;
  border-bottom: 1px solid #8B583B;
  margin-left: auto;
}

.conteiner__carrito .header__carrito {
  background-color: #8B583B;
  color: white;
}
.conteiner__carrito .header__carrito h5 {
  font-size: 1.5rem;
}
.conteiner__carrito #carrito .producto:hover {
  box-shadow: none;
  padding: 0;
  transition: none;
}

#buscador {
  position: absolute;
  right: 12rem;
  display: none;
  border: none;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
